body {  /* the stripes down the left and right side */
  background-color: #e2e1c7; /* dark Cream */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align:baseline;
}
button { /* the default button design */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #4e4c3d; /* brown */
  height: 30px;
  width: 150px;
  position: relative;
  float: right;
  display: inline-block;
  margin-left: 780px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 120px;
}
button.guess-again { /* Bigger Guess-Again button on the answer page:; less margin-bottom */
  font-size: 16px;
  height: 40px;
  width: 180px;
  margin-left: 750px;
  margin-top: 10px;
  margin-bottom: 20px;
}
button.new-game { /* red button on answer page */
  background-color: #9c4d25; /* dark red */
}
h1 { /* Page Title:; "Clue" */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 156px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
}
h2 { /* Page Subhead:; "The Who Done It ..." */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0px;
  margin: 0;
}
h3 { /* Victory congratulations message */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  text-align: left;
  color: #4e4c3d; /* brown */
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 15px;
}
hr { /* dashed line at the bottom of the header masthead */
  border: 3px dashed #737267; /* light brown */
  height: 0px;
  width: 100%;
  margin-top: 20px;
}
ul { /* The cards' framework */
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 20px;
  padding: 0px;
}
ol { /* The questions and the cards' framework */
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
li.questions { /* the questions under the <ol> */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  color: #4e4c3d;
  letter-spacing: 1px;
  margin-left: 70px;
  margin-bottom: 20px;
}

/* ALL THE CARDS */

/* People */
#person0 {
  background-image: url('../images/person0.jpg');
}
#person1 {
  background-image: url('../images/person1.jpg');
}
#person2 {
  background-image: url('../images/person2.jpg');
}
#person3 {
  background-image: url('../images/person3.jpg');
}
#person4 {
  background-image: url('../images/person4.jpg');
}
#person5 {
  background-image: url('../images/person5.jpg');
}
#personhidden { /* if user guess is incorrect */
  background-image: url('../images/envelope.jpg');
  border-color: #ecce80;
}

/* Weapons */
#weapon0 {
  background-image: url('../images/weapon0.jpg');
}
#weapon1 {
  background-image: url('../images/weapon1.jpg');
}
#weapon2 {
  background-image: url('../images/weapon2.jpg');
}
#weapon3 {
  background-image: url('../images/weapon3.jpg');
}
#weapon4 {
  background-image: url('../images/weapon4.jpg');
}
#weapon5 {
  background-image: url('../images/weapon5.jpg');
}
#weaponhidden { /* if user guess is incorrect */
  background-image: url('../images/envelope.jpg');
  border-color: #ecce80;
}

/* Rooms */
#room0 {
  background-image: url('../images/room0.jpg');
}
#room1 {
  background-image: url('../images/room1.jpg');
}
#room2 {
  background-image: url('../images/room2.jpg');
}
#room3 {
  background-image: url('../images/room3.jpg');
}
#room4 {
  background-image: url('../images/room4.jpg');
}
#room5 {
  background-image: url('../images/room5.jpg');
}
#room6 {
  background-image: url('../images/room6.jpg');
}
#room7 {
  background-image: url('../images/room7.jpg');
}
#room8 {
  background-image: url('../images/room8.jpg');
}
#roomhidden { /* if user guess is incorrect */
  background-image: url('../images/envelope.jpg');
  border-color: #ecce80;
}


#area { /* This is the large content area */
  position: relative;
  background-color: #eeeee0; /* light Cream */
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 28px;
  padding-right: 28px;
  width: 944px;
  height: 110%;
  box-shadow: 0px 0px 60px #bdbc98;
}
.attempts { /* Attempts box in upper right of answer page */
  float: right;
  width: 150px;
  margin-right: 40px;
  margin-top: -10px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #9c4d25; /* dark red */
  font-size: 18px;
  background-color: #e2e1c7; /* dark Cream */
  border: 6px solid #e2e1c7; /* dark Cream */
}
.card { /* the base card design */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 410px;
  letter-spacing: -0.5px;
  color: #eeeee0;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
  z-index: 3;
  width: 140px;
  height: 240px;
  margin: 5px;
  box-shadow: 0px 0px 60px #bdbc98;
  border: 2px solid #ffffff;
}
.card:hover { /* cards brown highlight border */
  border: 2px solid #737267;
}
.card-guessed { /* Answer page display card guesses */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12.5px;
  z-index: 4;
  text-align: center;
  line-height: 320px;
  letter-spacing: -0.5px;
  color: #eeeee0;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
  background-size: 110px 189px;
  width: 110px;
  height: 189px;
  margin: 5px;
  box-shadow: 0px 0px 60px #bdbc98;
  border: 2px solid #ffffff;
}
.card-answers { /* Answer page display card answers */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 410px;
  letter-spacing: -0.5px;
  color: #eeeee0;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
  width: 140px;
  height: 240px;
  margin: 5px;
  box-shadow: 0px 0px 60px #bdbc98;
  border: 2px solid #ffffff;
}
.choices { /* box that holds all the cards questions answers and buttons */
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}
.choices-correct { /* On answer page: box that holds all the answer cards */
  position: relative;
  display: inline-block;
  width: 550px;
  float: right;
  margin-bottom: 0px;
}
.cardPicked { /* card the user selects */
  border: 2px solid #e48d68;
}
.cardPicked:hover { /* card the user selects */
  border: 2px solid #e48d68;
}
.cardGray {
  opacity: 0.2;
}
#glass { /* magnifying class in the upper left of browser */
  background-image: url('../images/magglass.png');
  background-repeat: no-repeat;
  -ms-transform: rotate(25deg); /* IE 9 */
  -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
  transform: rotate(25deg);
  width: 450px;
  height: 800px;
  margin-top: -330px;
  margin-left: -120px;
}
.header { /* Brown masthead display */
  position: relative;
  z-index: 2;
  background-color: #4e4c3d; /* brown */
  width: 102%; /* Hack to fix the header by the scrollbar */
  margin-left: -2%; /* Hack to fix the header by the scrollbar */
  height: 220px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0px 0px 20px #4e4c3d;
}
