.site-header
  width: 100%
  margin: 0
  background-color: $color-default
  box-shadow: 0 0 3em 0 $color-shadow

.site-logo
  width: 50%
  padding: 3% 5% 2% 5%

.star-logo
  fill: $color-primary
  // &:hover
  //   fill: $color-secondary
  // &:active
  //   fill: $color-tertiary
